<p id="notice"><%= notice %></p>

<h1>Listing Reg Words</h1>

<table>
  <thead>
    <tr>
      <th>Words</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reg_words.each do |reg_word| %>
      <tr>
        <td><%= reg_word.words %></td>
        <td><%= link_to 'Show', reg_word %></td>
        <td><%= link_to 'Edit', edit_reg_word_path(reg_word) %></td>
        <td><%= link_to 'Destroy', reg_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reg word', new_reg_word_path %>
